.header{
  position: fixed;
  top: 0;
  width: 100%;
}

li{
    list-style: none;
}
.header{
  background-color:#000;
  color:#fff;
  height:90px;
  padding-left: 100px;
}

.header-logo{
  font-size:50px;
  padding:20px 40px;
  float:left;
}

.header-list{
  float:left;
  font-size: 20px;
  color: white;
  padding-left: 500px;
}

.header-list li{
  float:left;
  padding:33px 20px;
}

.main{
    height: 1000px;
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
    padding-bottom: 10px;
  }
.contents{
  height: 1300px;
  padding-left:10px;
}

.contents-item img{
  margin-right: 15px;
  float: center;
  margin-top:10px;
  padding-bottom:10px;
}
.contents-item p{
  font-size: 30px;
}